# Copyright (c) 2018 Aubrey Barnard.  This is free software.  See
# LICENSE for details.

# Ignore file backups
*~

# Ignore compiled Python
__pycache__
*.pyc
*.pyo

# Ignore synchronization directory
sync
